.front{
    align-self: flex-start;
    background-image: url(../../../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.front .logo{
    margin-bottom: 50px;
}

.front .cardNumber{
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    margin-bottom: 20px;
}

.front .cardInfo{
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 100%);
}

@media(max-width:1100px){
    .front .cardNumber{
        font-size: 30px;
    }
}

@media(max-width:800px){
    .front{
        z-index: 1;
        position: absolute;
        top: 23%;
    }
}

@media(max-width:500px){
    .front{
        top: 18%;
    }

    .front .logo{
        width: 60px;
        margin-bottom: 30px;
    }

    .front .cardNumber{
        font-size: 21px;
        margin-bottom: 10px;
    }
}